body {
    text-align: center;
    margin: 50px;
    font-family: Arial, sans-serif;
}

.logo {
    font-size: 48px;
    font-weight: bold;
}

.description {
    margin-top: 20px;
    font-size: 24px;
}

.button-start {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 20px;
}
